body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;

}        

.flashcard {
    width: 300px;
    height: 200px;
    margin: 50px auto;
}

.flashcard-inner {
    /*Makes sure the flashcard is 300x200 px */
    width: 100%; 
    height: 100%;
    
    transition: transform 0.8s; /* Flip animation time */
    transform-style: preserve-3d; /* Makes the card actually flip */
}

.flashcard:hover .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    position: absolute; /* Makes sure to keep card posistion after animation */

     /*Makes sure the flashcard is 300x200 px */
    width: 100%;
    height: 100%;

    backface-visibility: hidden; /* This keeps the content of .flashcard-back hidden */

    /* Centers the text */
    display: flex; /* Vertically */
    align-items: center; /* Horizontally */
    justify-content: center;

    border: 1px solid #b3b1b1;
    border-radius: 8px;
    font-size: 1.2em;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
}

.flashcard-back {
    transform: rotateY(180deg);
}